name: Build and deploy Frontend to Azure Web App - Medina-BackOffice

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up Node.js version
        uses: actions/setup-node@v3
        with:
          node-version: '20.x'

      # כניסה לתיקייה הנכונה ובנייה
      - name: npm install, build
        run: |
          cd medina-insights-front-main
          npm install
          npm run build --if-present
      
      # אריזה של תיקיית ה-dist בלבד
      - name: Zip artifact for deployment
        run: |
          cd medina-insights-front-main/dist
          zip -r ../../release.zip ./*

      - name: Upload artifact for deployment job
        uses: actions/upload-artifact@v4
        with:
          name: node-app
          path: release.zip

  deploy:
    runs-on: ubuntu-latest
    needs: build
    environment:
      name: 'Production'
      url: ${{ steps.deploy-to-webapp.outputs.webapp-url }}

    steps:
      - name: Download artifact from build job
        uses: actions/download-artifact@v4
        with:
          name: node-app

      - name: Unzip artifact for deployment
        run: unzip release.zip

      
      - name: 'Deploy to Azure Web App'
        id: deploy-to-webapp
        uses: azure/webapps-deploy@v2
        with:
          app-name: 'Medina-BackOffice'
          slot-name: 'Production'
          publish-profile: ${{ <publishData><publishProfile profileName="Medina-BackOffice - Web Deploy" publishMethod="MSDeploy" publishUrl="medina-backoffice.scm.azurewebsites.net:443" msdeploySite="Medina-BackOffice" userName="REDACTED" userPWD="REDACTED" destinationAppUrl="https://medina-backoffice.azurewebsites.net" SQLServerDBConnectionString="REDACTED" mySQLDBConnectionString="" hostingProviderForumLink="" controlPanelLink="https://portal.azure.com" webSystem="WebSites"><databases /></publishProfile><publishProfile profileName="Medina-BackOffice - FTP" publishMethod="FTP" publishUrl="ftps://waws-prod-ilc-003.ftp.azurewebsites.windows.net/site/wwwroot" ftpPassiveMode="True" userName="REDACTED" userPWD="REDACTED" destinationAppUrl="https://medina-backoffice.azurewebsites.net" SQLServerDBConnectionString="REDACTED" mySQLDBConnectionString="" hostingProviderForumLink="" controlPanelLink="https://portal.azure.com" webSystem="WebSites"><databases /></publishProfile><publishProfile profileName="Medina-BackOffice - Zip Deploy" publishMethod="ZipDeploy" publishUrl="medina-backoffice.scm.azurewebsites.net:443" userName="REDACTED" userPWD="REDACTED" destinationAppUrl="https://medina-backoffice.azurewebsites.net" SQLServerDBConnectionString="REDACTED" mySQLDBConnectionString="" hostingProviderForumLink="" controlPanelLink="https://portal.azure.com" webSystem="WebSites"><databases /></publishProfile></publishData>}}
          package: .
